:root {
  --transition: 1.5s cubic-bezier(0.05, 0.5, 0, 1);
}

.home {
  perspective: 1500px;
  overflow: hidden;
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
    will-change: transform;
    transition: transform var(--transition);
    // .home__item {
    //   // inset: -5vw;
    // }
    // overflow: hidden;
    // transition: opacity 0.5s ease-out;
  }

  .home__name {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translateZ(-55px) scale(1.06);
  }

  .home__name__text {
    transition: all 0.5s;
    -webkit-text-stroke: 4px #d6f4f4;
    font-variation-settings: 'wght' 900, 'ital' 1;
    font-size: 15vw;
    text-align: center;
    color: transparent;
    font-family: 'Meta', sans-serif;
    text-shadow: 10px 10px 0px #07bccc, 15px 15px 0px #e601c0,
      20px 20px 0px #e9019a, 25px 25px 0px #f40468, 45px 45px 10px #482896;
    cursor: pointer;

    // transform: translateY(-100%);
    // animation: fadeInUp 1s ease-out forwards;
    &:hover {
      -webkit-text-stroke: 0px #d6f4f4;
      color: #d6f4f4;
      font-variation-settings: 'wght' 100, 'ital' 0;
      text-shadow: none;
    }
  }

  &__links {
    flex: 1;
    overflow: hidden;
    display: flex;
    transform: translateZ(100px) scale(0.88);
    // .home__link__item {
    //   &:first-child {
    //     transform: translateX(-120%);
    //     animation: fadeInSide 2s ease-out forwards;
    //   }
    //   &:last-child {
    //     transform: translateX(120%);
    //     animation: fadeInSide 2s ease-out forwards;
    //   }
    // }

    .home__link {
      cursor: pointer;
      text-decoration: none;
      margin: 0px 10px;
      color: #e601c0;
    }
  }
}

// @keyframes fadeInUp {
//   to {
//     transform: translateY(0);
//   }
// }

// @keyframes fadeInSide {
//   to {
//     transform: translateX(0);
//   }
// }
